@import './custom';
@import './../../node_modules/bootstrap/scss/bootstrap';
@import './../../node_modules/font-awesome/scss/font-awesome';

/*

#input-component-container {
  height: 100vh
}

*/

#code-input {
  max-width: 350px
}

.main-title {
  padding-top: 20vh
}

.main-subtitle {
  padding-top: 5vh
}

.results-title {
  padding-top: 20px
}

button[data-toggle="collapse"] {
  width: 100%
}

#results-accordian {
  width: 100%
}

.grey {
  color: rgb(128, 128, 128)
}

.search-button {
  border-color: white;
  color: white;
}

.playerNameRow {
  border-bottom-color: lightgray;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}

.playerNameRow.solid {
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
}
